* {box-sizing: 
    border-box;
}
body {
    background-color: #cfa860;
    color : #a87518;
    font-family: Verdana, Arial, sans-serif;
    background-image: url(background.gif)    
}


header{
    background-color:#7f4905;
    color:#edc681;
    min-height:150px;
    font-weight: bold;
    background-image: url(javajamlogo.jpg);
    background-repeat: no-repeat;
    
}

main{
    width : 83.35%;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 2em;;
    padding-right: 2em;
    padding-bottom:2em;
    padding-top: 2em;
    display:block;
    background-color:#ebdabc;
    
}

h1{
    padding-top : 45px;
    padding-left : 220px;
    font-size : 3em;
    line-height:150%;
}



footer{
    background-color:#edc681;
    font-size : .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 2px 0px 0px; 
    border-color: #221811;
}

#wrapper{
    min-width : 900px;
    background-color:black;
    max-width : 1280px;
    width : 80%;
    box-shadow:5px 5px 5px gray;
    margin-right:auto;
    margin-left:auto;
    
}

nav{
    font-size:1.5em;
    padding-top:10px;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 200px;
    
}

nav a {
   padding-top:10px;
   padding-right:0;
    text-decoration: none;
    
}

nav a:link{
    color:#d66926;
}

nav a:visited{
    color:#D2B48C;
}

nav a:hover{
    color: #CC9933;
}


h4{
    background-color:#7f4905;
    color : #edc681;
    text-align: left;
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-bottom: 0;
    text-transform: uppercase;
    clear: both;
    border-bottom: 1px solid black;
}

div.details{
    text-align:center;
    padding-left: 20%;
    padding-right: 20%;
    overflow:auto;
}

img{
    padding-left:10px;
    padding-right:10px;

}

#heroroad{
    background-image: url(heroroad.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
    height: 250px;

}

#heromugs{
    background-image: url(heromugs.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;

}

#heroguitar{
    background-image: url(heroguitar.jpg);
    background-size: 100%;
    height: 250px;
    background-repeat: no-repeat;

}

#herojobs{
    background-image: url(herojobs.jpg);
    background-size: 100%;
    height: 250px;
    background-repeat: no-repeat;
}

h2, h3, h4, p, div, ul, dl{
    padding-left: 0em;
    padding-right: 0em;

}

#Lists{
    list-style-type:none;
    
}

.floatleft{
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;

}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}

#brown{
    background-color:#6b3e07;
    color : rgb(238, 208, 73);
}

#yellow{
    background-color: rgb(237, 215, 114);
    color : #7b490c;
}

form{
    padding:2em;
}

label{
    float:left;
    text-align:right;
    width:8em;
    padding-right:1em;
}

input{
    display: block;
    margin-bottom: 1em;
}

textarea{
    display: block;
    margin-bottom: 1em;
}

#mySubmit{
    margin-left:9.5em;
}
